extends layout

block content
  section
    div(style='display:inline')
      header 
        a(href='/') <h1>HOME</h1>
      if(!user)
        span 
          a(href='/login')
            p Login
        span 
          a(href='/registe')
            p Registe
      else
        span 
          a(href='/post')
            p Post
        span 
          a(href='/logout')
            p logout
        if(success)
          div= success
        else
          div= error
  article
    if(blogs)
      each blog, index in blogs
        span
          p 作者: #{blog.name}
        span
          p 日期：#{blog.time.minute}
        textarea(rows="5",clos="20") #{blog.content}